*{
    text-transform: capitalize;
}
.header{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --red:#ff3838;

}


html{
    font-size: 62.5%;
    overflow-x: hidden;
   
}
body{
  background-color: #000;

}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 0px;
    margin-block-end: 0px;
    color: #fff;
}
.heading span{
    color: var(--red);
}

.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}
.btn:hover::before{
    width: 100%;
    left: 0;

}
.btn:hover{
    color: #fff;
}

.order .row{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0,0, 0.1);
    background: #fff0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}
.order .row .image{
    flex: 1 1 30rem;
}
.order .row img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
   
}
.order .row form{
    flex: 1 1 50rem;
    padding: 1rem;
    margin-left: 150px;
}
.order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order .row form .inputBox input, .order .row form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: capitalize;
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width: 50%;
}
.order .row form textarea{
    width: 50%;
    resize: none;
    height: 15rem;
}
.order .row form .btn{
    background: none;
}
.order .row form .btn:hover{
    background: var(--red);
}
.footer{
    background: #000;
    text-align: center;
}
